@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #0f0f0f;
  color: white;
}

/* Hide horizontal scrollbar for movie rows */
.scroll-hide::-webkit-scrollbar {
  display: none;
}

.scroll-hide {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}
